.card{
    width: 80%;
    margin: 1rem auto;
    background-color: white;
    padding: .2rem 1rem .5rem;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5em;
}

.cardBlack{
    width: 80%;
    margin: 1rem auto;
    background-color: rgb(24, 24, 24);
    padding: .2rem 1rem .5rem;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.3em;
}
/* 
@media (min-width: 1190px) {
    .card,
    .cardBlack{
        width: auto;
    }
} */