
.ContactMeSection{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 7rem;
    transition: 1s all;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0);
    transition-delay: 200ms;
}


.formContainer{
    width: 80%;
    margin: 1rem auto;
    background-color: rgb(24, 24, 24);
    padding: .2rem 1rem 1.5rem;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.3em;
    position: relative;

}

.contactForm{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: .5rem;
    /* justify-content: center; */
    /* align-items: center; */
}

.contactForm input,textarea{
    color:  white;
    background-color: rgb(24, 24, 24);
    border: none;
    border-bottom: 1px solid white;
    padding: .5em 1em;
    margin-bottom: .3em;
}

.contactForm input:focus, textarea:focus{   
    border-bottom: 2px solid #f8e073;
    outline: none;
}

.contactForm button{
    border: none;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: .5em;
    font-size: .95rem;
    font-weight: 500;
    margin-top: 3.5rem;
    transition: filter .25s;
}

.contactForm button:hover{
    filter: grayscale(100%) opacity(.60);
}

.overlay{
    background-color: grey;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    border-radius: 10px;
    visibility: hidden;
    transition: opacity .2s;

}

.overlayShown{
    opacity: 30%;
    visibility:visible;
}



@media (min-width:1500px){
    .formContainer{
        width: 70%;
    }
}