
.heroSection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hiddenLeft{
    opacity: 0;
    transform: translateX(-200%);
    filter: blur(5px);
}

.hiddenRight{
    opacity: 0;
    transform: translateX(200%);
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.heroTextOne,
.heroTextTwo,
.heroTextThree{
    display: flex;
    justify-content: center;
}

.heroTextOne{
    transition: all 1s ease-out;
    transition-delay: 200ms;
}

.heroTextTwo{
    transition: all 1s ease-out;
    transition-delay: 500ms;
}

.heroTextThree{
    transition: all 1s ease-out; 
    transition-delay: 700ms;
}

.heroTextOne > span,
.heroTextTwo > span ,
.heroTextThree > span{
    padding: .8em;
    border-radius: 10px;
}


.heroTextOne>span,
.heroTextThree>span{
    font-size: 1.5rem;
    font-weight: 500;
}


.heroTextTwo > span{
    /* font-weight: 500; */
    background-color: #f8e073;
    /* background-color: #94e994; */
    /* background-color: #C28CFF; */

}

.heroTextTwo .lastNameText{
    font-size: 2rem;
    font-weight: 700;
}

.isBlinkingOn{
    color: rgb(143, 143, 143);
    opacity: 1;
    font-weight: 700;
    transition: opacity .25s;
}

.isBlinkingOff{
    color: rgb(143, 143, 143);
    opacity: 0;
    transition: opacity .25s;
}

@media (min-width: 630px){
    .heroTextOne>span,
    .heroTextThree>span{
        font-size: 2rem;
        font-weight: 500;
    }

    .heroTextTwo .lastNameText{
        font-size: 2.5rem;
        font-weight: 700;
    }
}

@media (min-width: 890px){
    .heroTextOne>span,
    .heroTextThree>span{
        font-size: 2.5rem;
        font-weight: 500;
    }

    .heroTextTwo .lastNameText{
        font-size: 3rem;
        font-weight: 700;
    }
}


@media (min-width: 1190px){
    .heroTextOne>span,
    .heroTextThree>span{
        font-size: 3rem;
        font-weight: 500;
    }

    .heroTextTwo .lastNameText{
        font-size: 3.5rem;
        font-weight: 700;
    }
}

@media (min-width: 1390px){
    .heroTextOne>span,
    .heroTextThree>span{
        font-size: 3.5rem;
        font-weight: 500;
    }

    .heroTextTwo .lastNameText{
        font-size: 4rem;
        font-weight: 700;
    }
}




