.projectsSection{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    width: 100%;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0);
}

.skillsHeaderContainer{
    color: white;
    width: 80%;
    margin: 1rem auto;
    background-color: rgb(24, 24, 24);
    padding: .2rem 1rem .5rem;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.3em;
}

.skillBodyContainer{
    width: 80%;
    margin: 1rem auto;
    background-color: white;
    padding: .2rem 1rem .5rem;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5em;
    transition: all 1s;
    transition-delay: 100ms;
}

.skillsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.headerContainer{
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.titleContainer{
    width: 70%;
    display: flex;
    align-items: center;
    /* flex: 1; */
}

.linkContainer{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: black; */
    /* flex: 1; */

}

.linkContainer  i{
    font-size: 2rem;
}

.descriptionContainer > p{
    padding: 0 .5rem .5rem .5rem;
    margin: 0;
}

.bodyContainer{
    display: flex;
}

.imageContainer {
    position: relative;
    padding: 1rem 0;
    border-radius: 10px;
    background-color: #e6e6e6;
    margin: 1em 0 .5em;
}

.imgOne{
    display: block;
    width: 90%;
    margin: 0 auto;
}


@media (min-width:700px){
    .linkContainer  i{
        font-size: 2.2rem;
    }
}

@media (min-width:900px){

    .descriptionContainer p{
        font-size: 1rem;
    }
}

@media (min-width:1000px){
    .linkContainer  i{
        font-size: 2.4rem;
    }
}

@media (min-width:1250px){
    .titleContainer h3{
        font-size: 1.3rem;
    }
    .linkContainer  i{
        font-size: 2.7rem;
    }
}

@media (min-width:1300px) {
    .descriptionContainer p{
        font-size: 1.2rem;
    }
}

@media (min-width:1500px){
    .skillsHeaderContainer,
    .skillBodyContainer{
        width: 70%;
    }

    .linkContainer  i{
        font-size: 3rem;
    }
}




