html,body{
    margin: 0;
    background-color: #e6e6e6;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin-left: 4.5rem;
}

h3,h2,h4,input,textarea,button, a{
    font-family: Assistant;
}

span{
    font-family: Inter;
}

p{
    font-family: Assistant;
    color:#353535
}