

.aboutMeSection{
    display: flex;
    flex-direction: column;
    margin-left: 4.5rem;
}


.explainerContainer  p {
    margin-bottom: 1.5em;
}
.pfpContainer{
    background-color: #f8e073;
    display: flex;
    border-radius: 10px;
    margin: 1em 0 .5em;
}
.pfpImg{
    width: 70%;
    margin: 0 auto;
    padding-left: .5rem;
    padding-top: .5em;
    filter: grayscale(20%);
}


.skillsContainer ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skillsContainer li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContainer i{
    color: white;
    font-size: 1.7rem;
    padding: 1rem;
}

.skillsContainer h3{
    color: white;
    margin-bottom: .5em;
}
