span{
    font-family: Fjalla One;
}

.heroSection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4.5rem;
} 

.flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroTextOne,
.heroTextTwo,
.heroTextThree{
    display: flex;
    justify-content: center;
}

.heroTextOne > span,
.heroTextTwo > span ,
.heroTextThree > span{
    padding: .8em;
    border-radius: 10px;
}


.heroTextOne>span,
.heroTextThree>span{
    font-size: 1.5rem;
    font-weight: 500;
}


.heroTextTwo > span{
    font-weight: 500;
    background-color: #f8e073;
    /* background-color: #94e994; */
    /* background-color: #C28CFF; */

}

.heroTextTwo .lastNameText{
    font-size: 2rem;
    font-weight: 700;
}

.isBlinkingOn{
    color: rgb(143, 143, 143);
    opacity: 1;
    font-weight: 700;
    transition: opacity .25s;
}

.isBlinkingOff{
    color: rgb(143, 143, 143);
    opacity: 0;
    transition: opacity .25s;
}




