.navContainer{
    position: fixed;
    left: 2.5rem;
    padding-top: 3rem;
    row-gap: 3rem;
}


.navContainer,
.socialsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkContainer{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    column-gap: 2rem;
    
}

.linkContainer> a{
    text-decoration: none;

}


.socialsContainer{
    margin-top: 2rem;
    flex: 1;
    row-gap: 1rem;

}

.socialsContainer> a > img{
    width: 2.5rem;
}


a{
    font-family: Raleway, Arial;
    font-weight: 500;
    font-size: 1rem;
    color: black;
    transition: opacity .25s, color .25s;
}

a:hover{
    opacity: .70;
}

#contactLink:hover{
    color: #E6770B;
}

#projectsLink:hover{
    color: #52D053;
}

#aboutLink:hover{
    color: #765898;
}




