html,body{
    margin: 0;
    background-color: #e6e6e6;
    scroll-behavior: smooth;
}

h3,h2,h4{
    font-family: IBM Plex Sans Condensed;
}

span{
    font-family: Fjalla One;
}

p{
    font-family: IBM Plex Sans;
}